# Fire up some data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({
    'amount': np.random.rand(5) * 100,
    'name': np.random.choice(['Alice', 'Bob'], 5),
    'id': np.arange(5)
})

In [ ]:
df

# Write out to sqlite

In [ ]:
![ -f accounts.db ] && rm accounts.db

In [ ]:
from blaze import into

In [ ]:
tb = into('sqlite:///accounts.db::t', df)

In [ ]:
type(tb)

# Compute the same expression against different data sources

In [ ]:
from blaze import symbol, compute, by, discover

In [ ]:
t = symbol('t', discover(df))

In [ ]:
type(t)

In [ ]:
t.dshape

In [ ]:
expr = by(t.name, avg_amt=t.amount.mean())
expr

In [ ]:
expr.dshape

In [ ]:
compute(expr, df)

In [ ]:
compute(expr, tb)

# SQL backend allows you to inspect generated code

In [ ]:
compute(expr, tb, post_compute=False)

In [ ]:
print(compute(expr, tb, post_compute=False))